

<section class="Centered">
    <div class="text-center">
        <h1 class="display-4">
            Bienvenue sur la @Model.Title.ToLower()
        </h1>
        <br />
        <div class="input-group md-form form-control-sm form2 pl-0">
            <input name="childname" class="form-control my-0 py-1 red-border" type="text" placeholder="Search" />
        </div>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>Train</th>
                    <th>Station d'arrivée</th>
                    <th>Heure de Depart</th>
                    <th>Détails du train</th>
                </tr>
            </thead>

            @foreach (Train train in Model.trains)
            {

                <tr  class="table-info">

                    <td class="table-dark">@train.Matricule</td>
                    <td>@train.RouteOfTrain.ArrivalStation.Name</td>
                    <td>@train.RouteOfTrain.ArrivalTime</td>
                    <td><a href="TrainDetail/@train.Matricule"> Show Detail</a> </td>
                </tr>
            }


        </table>
    </div>
</section>