@model SimuTrainApp.Models.TrainMovement

<h2>Train Movement</h2>

<p>Train: @Model.Train.Matricule</p>
<p>Route: @Model.Route.DepartureStation</p>
<p>Route: @Model.Route.ArrivalStation</p>
<p>Route: @Model.Route.Horaire</p>
