@{
    ViewData["Title"] = "";
}
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
    <div class="wrapper">
<div class="wrapper-train">
    <img src="~/assets/trainrail.png">          
</div>
<div class="text-center">  
    <a class="center" asp-controller="Home" asp-action="Privacy">
        <img class="start-image"  src="~/assets/start.png" />
    </a>
</div>
    </div>