@{
    ViewData["Title"] = "";
}
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
    <div class="container-fluid">
<div class="wrapper-train">
    <img src="~/assets/trainrail.png">
    </div>
</div>
<div class="text-center">  
    <a class="center" asp-controller="DM" asp-action="ListTrain">
        <img class="start-image"  src="~/assets/start.png" />
    </a>
</div>
    